<div class="jumbotron-fluid bg-light border border-dark p-1">
    <div class="container">
        <header class="performance-facts__header">
        <h1 class="performance-facts__title">
            Nutrition Facts
        </h1>
        <p class="servings_size">
            Total Servings {{recipe.servings}}
        </p>
    </header>
    <table class="performance-facts__table">
        <thead>
            <tr>
                <th colspan="3" class="small-info">
                    Amount Per Serving
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="Calories">
                <th colspan="2">
                    <b>
                        Calories
                    </b>
                    <td colspan="3" class="big-info">
                        <b>{{calories}}</b>
                    </td>
                </th>
            </tr>
            <tr class="thick-row">
                <td colspan="3" class="small-info">
                    <b>
                        % Daily Value*
                    </b>
                </td>
            </tr>
            {% for nutrient in nutrients %}
                {% if nutrients[nutrient][2] !=0 %}
                {% if nutrients[nutrient][0] in fats or nutrients[nutrient][0] in carbs %}
                <tr id = "{{nutrients[nutrient][0]}}">
                    <td class = "blank-cell"></td>
                    <th>{{nutrients[nutrient][0]}} {{nutrients[nutrient][2]}}{{nutrients[nutrient][3]}}</th>
                    {% if nutrients[nutrient][0] not in no_daily %}
                    <td><b>{{nutrients[nutrient][1]}}%</b></td>
                    {% endif %}
                </tr>
                {% else %}
                    {% if nutrient == nutrients[nutrient][-1] %}
                        <tr id = "{{nutrients[nutrient][0]}}" class="thick-end">
                    {% else %}
                        <tr id = "{{nutrients[nutrient][0]}}">
                    {% endif %}
                <tr id = "{{nutrients[nutrient][0]}}"">
                    <th colspan = "2"><b>{{nutrients[nutrient][0]}}</b> {{nutrients[nutrient][2]}}{{nutrients[nutrient][3]}}</th> 
                    <td><b>{{nutrients[nutrient][1]}}%</b></td>
                </tr>
                {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr class="thick-end">
    <table class="performance-facts__table--grid table">
        <tbody>
            {% for vitamin in vitamins %}
            {% if vitamins[vitamin][2] !=0 %}
            <tr id="{{vitamins[vitamin][0]}}">
                <th colspan="2"><b>{{vitamins[vitamin][0]}}</b> {{vitamins[vitamin][2]}}{{vitamins[vitamin][3]}}</th>
                <td><b>{{vitamins[vitamin][1]}}%</b></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>