/* ============================================================
  NAV BAR AND BODY
============================================================ */
html {
    position: relative;
    min-height: 100%;
    scroll-padding-top: 80px; /* height of sticky header */
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.5s;
}

@media(max-width: 768px) {
    .navbar {
        background-color: #ffffff !important;
    }
}

#logo {
    height: 80px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    /* transition: all 0.1s; */
}

.btn-dark.btn-outline {
    color: #343a40;
    font-weight: bold;
}

.btn-dark.btn-outline:hover {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
    max-width: 126vh;
    max-height: 63vh;
    margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

section.module p {
    /* margin-bottom: 40px; */
    font-size: 16px;
    font-weight: 300;
}

#recipe-car p {
    font-weight: bolder;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-child {
    margin-bottom: 60px;
}

section.module.parallax {
    padding: 150px 0;
    background-position: 0 0;
}

section.module.parallax h1 {
    color: #1e1e1e;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}

section.module.parallax-1 {
    background-image: url("/static/images/bg2.jpeg");
    background-position: 100% 40%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 123, 255, 0.4);
    background-blend-mode: screen;
}

section.module.parallax-2 {
    background-image: url("http://www.planwallpaper.com/static/images/Fall-Nature-Background-Pictures.jpg");
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(244, 247, 250, 0.4);
    background-blend-mode: screen;
}

section.module.parallax-3 {
    background-image: url("/static/images/keto.jpg");
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 123, 255, 0.4);
    background-blend-mode: screen;
}

@media all and(min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    
section.module p {
        font-size: 20px;
    }
    
section.module.parallax {
        padding: 300px 0;
    }
    
section.module.parallax h1 {
        font-size: 96px;
    }
}

@media all and(min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}

/*footer*/
.footer .container-fluid {
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
}

footer .container-fluid a {
    display: inline-block;
    color: #ddd;
    padding-left: 1em;

}

footer .container-fluid p {
    display: inline-block;
    color: #ddd;
    padding-left: 1em;
    padding-right: 2em;
}

@media(max-width: 768px) {
    .col-md-4 {
        text-align: center;
        line-height: 30px;
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* ============================================================
  CAROUSEL
============================================================ */
.card {
    height: 550px;
}
.card-img-top {
    width: 100%;
    /* height: 15vw; */
    object-fit: cover;
}

@media(max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media(min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* ============================================================
  General Stuff
============================================================ */

/* hide or show if necessary*/
.is-hidden {
    display: none;
}

.is-shown {
    display: block;
}

/* ============================================================
  Recipe
============================================================ */


/* Delete ingredient */

i.fas.fa-trash-alt {
    transition: transform 0.4s;
    transform: scale(1);
}

i.fas.fa-trash-alt:hover {
    color: red;
    transform: scale(1.5);
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Check mark on success */

svg {
    width: 30px;
    display: block;
    margin: 40px auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

/* ============================================================
  Signin and Register Forms
============================================================ */

.form-control,
.form-control:focus {
    border-color: #e1e1e1;
}

.form-control,
.btn {
    border-radius: 3px;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-top: 1px solid #e1e1e1;
}

.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}

.signup-form hr {
    margin: 0 -30px 20px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.signup-form input[type="checkbox"] {
    margin-top: 2px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border: none;
    min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: #179b81;
    outline: none;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #19aa8d;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.signup-form .fa {
    font-size: 21px;
}

.signup-form .fa-paper-plane {
    font-size: 18px;
}

.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}






