{%- macro render_ingredient_form(subform, index) %}
    <div id="ing-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div class="d-inline">
            {{ subform.ingredient.label }}
            {{ subform.ingredient }}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientModal">
                Search for Ingredient
              </button>
        </div>
        <div class="amount_field is-hidden">
            {{ subform.amount.label }}
            {{ subform.amount }}
        </div>
        <div class="unit_field is-hidden">
            {{ subform.unit.label }}
            {{ subform.unit}}
        </div>
        <hr/>
    </div>
{%- endmacro %}