<div class="row">
    <div class="col-12">
    <!-- <h4 class="text-center mt-2"><i class="fas fa-utensils"></i> Most recent added Keto Recipes <i class="fas fa-utensils"></i></h5> -->
        <div class="container text-center">
            <div class="row mt-3 justify-content-center">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <div class="card mb-2 text-center">
                                    <div class="card card-body">
                                        <img class="card-img-top" src="{{recipes[0].image}}">
                                        <h6 class="card-title mt-2">
                                             {{recipes[0].title}}
                                        </h6>
                                        <a class="btn btn-outline-success btn-sm px-0">
                                            Check it Out
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for card in recipes[1:] %}
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <div class="card mb-2 text-center">
                                    <div class="card card-body">
                                        <img class="card-img-top" src="{{card.image}}">
                                        <h6 class="card-title mt-2">
                                            {{card.title}} 
                                        </h6>
                                        <a class="btn btn-outline-success btn-sm px-0">
                                            Check it Out
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                   

