{% extends 'base.html'%}
{% import "/macros/sub_form_ingredients.html" as macros1 %}
{% import "/macros/sub_form_instructions.html" as macros2 %}

{% block content %}
<h1 class="display-4 text-center text-light">Create a new recipe</h1> 
    <div class="jumbotron">
        <div class="row justify-content-end">
            <div class="col">
                <form id="recipe_title" class="form-inline">
                    <div class="form-group mx-sm-1 mb-1 ">
                        {{ form.title.label}}
                        {{ form.title(class_="form-control")}}
                    </div>
                    <button type="submit" class="btn btn-outline-success mb-1">Next</button>
                </form>
                <hr>
                <div id="ingr" class="is-hidden">
                    <h3 class="text-center">Which ingredients?</h3>
                    <form id="add_links" class="form-inline">
                        <div class="form-group mx-sm-1 mb-1">
                            <label for="text">Search for ingredient</label>
                            <input type="text" id="text" name="text" class="form-control">
                        </div>
                          <button type="submit" class="btn btn-outline-primary mb-1 mx-sm-1" data-toggle="modal" data-target="#ingredientModal">Submit</button>
                          <button id="done-ing" class="btn btn-outline-success mb-1 mx-sm-1 is-hidden">Next</button>
                    </form>
                    {% include 'table_ingredients.html'%}
                </div>
                <div id="yield" class="is-hidden">
                    <h3 class="text-center">How many servings?</h3>
                    <form id="serving-form" class="form-inline">
                        <div class="form-group mx-sm-1 mb-1">
                            <label for="text">#Servings</label>
                            <input type="number" class="form-control" id="serving" name="serving" min="1" max="200">
                        </div>
                        <button type="submit" class="btn btn-outline-primary mx-sm-1 mb-1">Submit</button>
                        <button id="done-yield" class="btn btn-outline-success mx-sm-1 mb-1 is-hidden">Next</button>
                    </form>
                </div>
                <div id="inst" class="is-hidden">

                </div>
                <!-- <form action="/api/create-recipe", method="POST">
                    {{form.hidden_tag()}}
                    <div id="title">
                        <h3>Please choose a title for your recipe</h3>
                        {{ form.title.label}}
                        {{ form.title.title }}
                        <a class="btn btn-outline-success">Next</a>
                    </div>
                    <hr>
                    <div id="ingr" class="is-hidden">
                        <h3>Which ingredients?</h3>
                        <form action="" id="ingredient_form">
                            <label for="text">
                              Search for ingredient
                              <input type="text" id="text" name="text">
                            </label>
                              <button type="submit" name="text" class="btn btn-primary" data-toggle="modal" data-target="#ingredientModal">Submit</button>
                          </form>
                        {% for subform in form.ingredients %}
                            {{ macros1.render_ingredient_form(subform, loop.index0) }}
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" name = "" class="btn btn-outline-success is-hidden">Submit</button>                    
                </form> -->
            </div>
        </div>
    </div>

    <!-- Modal -->
  <div class="modal hide fade in" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="ingredientModalLabel">Choose any ingridients</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modbod">
            <!-- <a href=""></a> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

{% endblock %}