{% extends 'base.html'%}
{% block content %}
      <form action="" id="add_links">
        <label for="text">
          Search for ingredient
          <input type="text" id="text" name="text">
        </label>
          <button type="submit" class="btn btn-primary show-modal" data-toggle="modal" data-target="#ingredientModal">Submit</button>
      </form>
  
      <form action="" id="search-recipe">
        <label for="search">Search for recipe
        <input type="text" id="search" name="search">
      </label>
        <button type="submit" class="btn btn-primary show-modal" data-toggle="modal" data-target="#ingredientModal">Search</button>
      </form>
    <br><br>
    <a href="/api/create-recipe">Create Recipe</a>
  
  <!-- Modal -->
  <div class="modal hide fade in" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="ingredientModalLabel">Choose any ingridients</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modbod">
            <!-- <a href=""></a> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>
{% endblock %}