<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
            <div class="signup-form">
                <form action="" method="POST" class="text-center">
                    <h2>Sign Up</h2>
                    <p>Please fill in this form to create an account!</p>
                    <hr/>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-paper-plane"></i></div>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                            </div>
                            <input type="text" class="form-control" name="password" placeholder="Password" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i><i class="fa fa-check"></i></div>
                            </div>
                            <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"/>
                        </div>
                    </div>
                    <!-- <div class = "form-group" > 
                <label class="checkbox-inline">
                    <input type = "checkbox" required = "required"> 
                    I accept the <a href = "#"> Terms of Use </a> &amp; 
                    <a href="#">Privacy Policy</a> 
                </label>
            </div> -->
                    <div class="text-center p-2">Already have an account? <a href="#">Login here</a></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
