<nav class="navbar navbar-expand-md navbar-light bg-fade fixed-top">
    <div class="container-fluid">
        <!-- Logo/Home Link -->
        <a class="navbar-brand" href="/"> <img src="/static/images/logo.png" alt="" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item p-3">
                    <a href="/" class="btn btn-outline-dark"><b>Home</b></a>
                </li>
                <li class="active nav-item p-3">
                    <a href="/#about-page" class="btn btn-outline-dark"><b>About Keto</b></a>
                </li>
                <li class="nav-item p-3">
                    <a href="/#ingredient-page" class="btn btn-outline-dark"><b>Ingredient Nutrition Facts</b></a>
                </li>
                <!-- data-toggle="modal" data-target="#ingredientModal" -->
            </ul>

            <ul class="navbar-nav">
                {% if not g.user %}
                <li class="nav-item pr-3">
                    <a href="" class="btn btn-outline-dark" data-toggle="modal" data-target="#loginModal"
                        id="login-win"><b>Login</b></a>
                </li>
                <li class="nav-item pr-3">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                        data-target="#registerModal" id="signup-win"><b>Sign Up</b></button>
                </li>
                {% else %}
                <li class="nav-item p-3 mr-4">
                    <a href="/api/create-recipe" class="btn btn-outline-dark" id="create-rec"><b>Create Recipe</b></a>
                </li>
                 <ul class="nav navbar-nav navbar-right mr-4 align-items-center">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-dark" data-toggle="dropdown">
                        <i class="far fa-user"></i> 
                        <strong>{{g.user.username}}</strong>
                        <!-- <i class="fas fa-chevron-circle-down"></i> -->
                    </a>
                    <ul class="dropdown-menu">                       
                        <li>
                            <div class="navbar-login">
                                <div class="row mb-1 align-items-center">
                                    <div class="col-4">
                                        <p class="text-center">
                                            {% if g.user.uploaded_image %}
                                                <span><img src="/images/user/{{g.user.id}}.png" alt="" style="width:90px;" class="p-1 border border-dark rounded"></span>
                                            {% else %}
                                                <span><img src="/static/images/{{g.user.image_url}}" alt="" style="width:90px;" class="p-1 border border-dark rounded"></span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-8 user-information text-left">
                                        <p class="mb-2"><strong>{{g.user.username}}</strong></p>
                                        <p class="small"><strong>{{g.user.email}}</strong></p>
                                        <hr>
                                        <p class="text-left">
                                            <a href="/logout" class="btn btn-outline-dark btn-block btn-sm mb-1"><strong>Logout <i class="fas fa-sign-out-alt"></i></strong></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p>
                                            <a href="/api/my-recipes" class="btn btn-outline-primary btn-block"><strong><i class="fas fa-utensils"></i> My Recipes <i class="fas fa-utensils"></i></strong></a>
                                            <a href="/api/your-best-recipes" class="btn btn-outline-primary btn-block"><strong><i class="far fa-star"></i> My Best Rated Recipes <i class="far fa-star"></i></strong></a>
                                            <a href="/edit_profile" class="btn btn-outline-danger btn-block"><strong>Edit Profile</strong></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
                {% endif %}
                <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <form action="/api/get-recipe" id="search-recipe-form">
                        <div class="input-group pr-3">
                            <label for="search-bar" id="search-label"
                                class="control-label col-sm-3 label pt-2"><b>Search</b></label>
                            <input type="text" class="form-control rounded" aria-label="default"
                                aria-describedby="inputGroup-sizing-default" placeholder="Find your Keto Recipe"
                                id="search-bar" name="search-bar">
                            <button type="submit" class="btn btn-outline-dark"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                </li>
                </ul>
        </div>
    </div>
</nav>