<!-- {% for field in form if field.widget.input_type != 'hidden'%}
                    <div class="form-group">
                        {% if field.id == 'ingredients' or field.id == 'instructions' %}
                        <div id="subforms-container" class="is-hidden">
                            {% if field.id == 'ingredients' %}
                                {% for subform in form.ingredients %}
                                    {{ macros1.render_ingredient_form(subform, loop.index0) }}
                                {% endfor %}
                            {% elif field.id == 'instructions' %}
                                {% for subform in form.instructions %}
                                    {{ macros2.render_instruction_form(subform, loop.index0) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% else %}
                        <div id="rest_fields" class="is-hidden">
                            {{ field.label }}
                            {{ field }}
                        </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <p><em class="text-danger"><small>{{ error }}</small></em></p>
                        {% endfor %} -->