{% extends 'base.html'%} {% import "macros/sub_form_ingredients.html" as macros1
%} {% import "macros/sub_form_instructions.html" as macros2 %} {% block content
%}

<section
	class="module parallax parallax-4"
	data-type="background"
	data-speed="10"
>
	<div class="parallax-container-fluid">
		<h1 class="m-0">Create a Keto Recipe</h1>
		<p class="text-center">Share your Keto Creations with the others</p>
	</div>
</section>

<section class="module recipe-create">
	<div class="parallax-container-fluid text-center">
		<p class="mb-3 text-danger m-5">
			<b>Note:</b> We only accept recipes with 15g or less of carbohydrates per
			serving.
		</p>
		<h3 class="mb-4">Step 1 <i class="far fa-sticky-note"></i></h3>
		<form action="" id="recipe_title">
			<div class="form-group row justify-content-center">
				<div class="col-4">
					{{ form.title.label}} {{ form.title(class_="form-control border
					rounded")}}
				</div>
			</div>
			<button type="submit" class="btn btn-outline-dark">Submit</button>
			<div class="container text-center">
				<div class="row justify-content-center">
					<div class="col-1 text-center" id="svg-container-1"></div>
				</div>
			</div>
		</form>
		<hr class="m-3" />
		<div id="yield" class="is-hidden">
			<h3 class="mb-2">Step 2 <i class="far fa-sticky-note"></i></h3>
			<form id="serving-form">
				<div class="form-group row justify-content-center">
					<div class="col-1">
						<label for="serving">#Servings</label>
						<input
							type="number"
							class="form-control"
							id="serving"
							name="serving"
							min="1"
							max="200"
							required
						/>
					</div>
				</div>
				<button type="submit" class="btn btn-outline-dark mb-1 mx-sm-1">
					Submit
				</button>
				<button
					id="done-yield"
					class="btn btn-outline-success mx-sm-1 mb-1 is-hidden"
				>
					Next
				</button>
				<div class="container text-center">
					<div class="row justify-content-center">
						<div class="col-1 text-center" id="svg-container-3"></div>
					</div>
				</div>
			</form>
			<hr />
		</div>
		<div id="ingr" class="container is-hidden">
			<h3 class="mb-2">Step 3 <i class="far fa-sticky-note"></i></h3>
			<div class="row justify-content-center">
				<div class="col-xl-7 tbl-ingredients">
					<form id="add_links_cr">
						<div class="form-group row justify-content-center">
							<div class="col-6">
								<label for="ing-text">Add ingredient</label>
								<input
									type="text"
									id="ing-text"
									name="text"
									class="form-control border rounded"
									required
								/>
							</div>
						</div>
						<button
							type="submit"
							class="btn btn-outline-dark mb-1 mx-sm-1"
							data-toggle="modal"
							data-target="#ingredientModal2"
						>
							Submit
						</button>
						<button
							id="done-ing"
							class="btn btn-outline-success mb-1 mx-sm-1 is-hidden"
						>
							Next
						</button>
						<div class="container text-center">
							<div class="row justify-content-center">
								<div class="col-1 text-center" id="svg-container-2"></div>
							</div>
						</div>
					</form>
					{% include '/ingredients/table_ingredients.html'%}
				</div>
				<div class="col-xl-5 tbl-nutrients text-center is-hidden">
					{% include '/nutrients/nutri_facts.html' %}
				</div>
			</div>
			<hr />
		</div>
		<div id="inst" class="container is-hidden">
			<h3 class="mb-2">Step 4 <i class="far fa-sticky-note"></i></h3>
			<div class="row justify-content-center">
				<div class="col-xl-7 tbl-ingredients">
					<form id="add_instr">
						<div class="form-group row justify-content-center">
							<div class="col-6">
								<label for="inst-text">Add instruction</label>
								<input
									type="text"
									id="inst-text"
									name="inst-text"
									class="form-control border rounded"
									required
								/>
							</div>
						</div>
						<button type="submit" class="btn btn-outline-dark mb-1 mx-sm-1">
							Submit
						</button>
						<button
							id="done-inst"
							class="btn btn-outline-success mb-1 mx-sm-1 is-hidden"
						>
							Next
						</button>
						<div class="container text-center">
							<div class="row justify-content-center">
								<div class="col-1 text-center" id="svg-container-4"></div>
							</div>
						</div>
					</form>
					{% include '/recipes/table_instructions.html'%}
				</div>
			</div>
			<hr />
		</div>
		<div id="cuisine" class="container is-hidden">
			<h3 class="mb-2">Step 5 <i class="far fa-sticky-note"></i></h3>
			<div class="row justify-content-center">
				<div class="col-xl-7">
					<form id="types">
						<div class="form-group row justify-content-center">
							<div class="col-6">
								<label for="inst-text" class="m-3">Meal Type</label>
								<select class="form-control form-control-lg" id="mealtype">
									<option value="Breakfast">Breakfast</option>
									<option value="Lunch">Lunch</option>
									<option value="Dinner">Dinner</option>
									<option value="Snack">Snack</option>
									<option value="Teatime">Teatime</option>
								</select>
								<label for="inst-text" class="m-3">Dish Type</label>
								<select class="form-control form-control-lg" id="dishtype">
									<option value="Biscuits and cookies">
										Biscuits and cookies
									</option>
									<option value="Cereals">Cereals</option>
									<option value="Condiments and sauces">
										Condiments and sauces
									</option>
									<option value="Drinks">Drinks</option>
									<option value="Desserts">Desserts</option>
									<option value="Egg">Egg</option>
									<option value="Main course">Main course</option>
									<option value="Omelet">Omelet</option>
									<option value="Pancake">Pancake</option>
									<option value="Preps">Preps</option>
									<option value="Preserve">Preserve</option>
									<option value="Salad">Salad</option>
									<option value="Sandwiches">Sandwiches</option>
									<option value="Soup">Soup</option>
									<option value="Starter">Starter</option>
								</select>
							</div>
						</div>
						<button id="done-type" class="btn btn-outline-success mb-1 mx-sm-1">
							Next
						</button>
						<div class="container text-center">
							<div class="row justify-content-center">
								<div class="col-1 text-center" id="svg-container-5"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<hr class="mb-3" />
		</div>
		<div id="ttime" class="is-hidden">
			<h3 class="mb-2">Step 6 <i class="far fa-sticky-note"></i></h3>
			<form id="cooking-time">
				<div class="form-group row justify-content-center">
					<div class="col-1">
						<label for="cooktime">Total time for Preparation and Cooking</label>
						<input
							type="number"
							class="form-control"
							id="ctime"
							name="ctime"
							min="1"
							max="200"
							required
						/>
					</div>
				</div>
				<button type="submit" class="btn btn-outline-dark mb-1 mx-sm-1">
					Submit
				</button>
				<button
					id="done-ttime"
					class="btn btn-outline-success mx-sm-1 mb-1 is-hidden"
				>
					Next
				</button>
				<div class="container text-center">
					<div class="row justify-content-center">
						<div class="col-1 text-center" id="svg-container-6"></div>
					</div>
				</div>
			</form>
			<hr />
		</div>
		<div id="picture" class="container is-hidden">
			<h3 class="mb-2">Final Step <i class="far fa-sticky-note"></i></h3>
			<div class="row justify-content-center">
				<div class="col-xl-7 tbl-ingredients">
					<form id="recipe_submit" method="POST">
						<div class="form-group row justify-content-center">
							<div class="col-6 text-center">
								<label for="uploadImage" class="m-4">Upload Recipe Image</label>
								<input
									type="file"
									name="file"
									class="form-control-file ml-5"
									id="uploadImage"
									accept="image/*"
								/>
							</div>
						</div>
						<button type="submit" class="btn btn-outline-success">
							Submit Your Recipe
						</button>
					</form>
				</div>
			</div>
			<hr />
		</div>
	</div>
</section>

<!-- Modal for ingredient-->
<div
	class="modal"
	id="ingredientModal2"
	tabindex="-1"
	aria-labelledby="ingredientModalLabel2"
	aria-hidden="true"
	data-keyboard="false"
	data-backdrop="static"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h5 class="modal-title title-ingr w-100" id="ingredientModalLabel2">
					Choose any ingredients
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body body-ingr text-center" id="modbod2"></div>
			<div class="modal-footer footer-ingr">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for Error-->

<div
	class="modal"
	id="not-keto"
	tabindex="-1"
	aria-labelledby="notketoLabel"
	aria-hidden="true"
	data-keyboard="false"
	data-backdrop="static"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h5 class="modal-title w-100" id="notketoLabel">Not Keto!!!</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<h6>
					<b>Note:</b>We only accept recipes with 15g or less of carbohydrates
					per serving!!!
				</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
